.contactPage {
  padding: 0rem 4.5rem 0 4.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .heading_Primary {
    color: #2563EB;
    display: inline-block;
    border-bottom: 4px #2563EB solid;

  }
}