.home {
  margin-top: 4rem;
  padding: 0 4.5rem;
  /* display: grid;
  grid-template-columns: 60% 40%; */
  display: flex;
}

/* learn flexbox ,flex , grid completely */

/* .left {
  max-width: 35rem;
  padding: 5rem 0;

} */

/* .right {
  margin-left: 20%;
  max-width: 30rem;
  /* width: 50%; */
/* display: flex;
  flex-direction: column;
  align-self: center; */




.left,
.right {
  flex: 1 1 45%;
  /* Flex-grow, flex-shrink, flex-basis */
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.photo {
  padding: 8rem;
  border-radius: 50%;
  background-color: #3B82F6;
}

.heading_primary {
  font-size: 2rem;
}

.heading_secondary {
  font-size: 1.5rem;
}

.heading_tertary {
  font-size: 1rem;
}

.name {
  color: blue;
}

.btn_getCV {

  margin: 1.3rem 0 0 2rem;
  background-color: #3B82F6;
}

.btn_hire {
  background-color: #3B82F6;
}

@media (min-width: 576px) {

  /* Styles for small devices (phones) */
  .home {}
}

@media (max-width: 768px) {

  .left-div,
  .right-div {
    flex: 1 1 100%;
    /* Make both divs take full width */
  }

  .home {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  /* Styles for large devices (desktops) */
}