.home {
  margin-top: 4rem;
  padding: 0 4.5rem;

  .grid_container {
    display: grid;
    grid-template-areas: "left right";


    .left {
      width: 70%;
      grid-area: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .intro {

        .intro_text,
        .greeting,
        .role,
        .name {
          font-size: 2rem;
        }

        .name {
          color: #3B82F6;
        }

        .btns {
          margin-top: 1.5rem;
          display: flex;
          gap: 2rem;

          .btn_getCV {

            /* margin: 1.3rem 0 0 2rem; */
            background-color: #3B82F6;
          }

          .btn_hire {
            background-color: #3B82F6;
          }
        }
      }
    }

    .right {
      grid-area: right;

      .photo {
        padding: 8rem;
        /* border-radius: 20rem; */
        background-color: #3B82F6;
      }
    }
  }
}

@media (max-width: 576px) {

  /* Styles for small devices (phones) */
  .home {
    margin-top: 1rem;


    .grid_container {
      display: grid;
      grid-template-areas:
        "right"
        " left";

      .left {
        width: 100%;
        margin-top: 1rem;
        text-align: center;

        .btns {
          display: flex;
          align-self: center;
          gap: 2rem;
        }
      }

      .right {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    margin-top: 1rem;

    .grid_container {
      display: grid;

      grid-template-areas:
        "right"
        " left";


      .left {
        width: 100%;
        margin-top: 1rem;

        .intro {
          text-align: center;
          line-height: 1.8rem;

          .btns {
            display: flex;
            justify-content: center;
            gap: 2rem;
          }
        }
      }

      .right {
        width: 100%;
        .photo {}
      }
    }
  }
}

@media (max-width: 992px) {
  /* Styles for large devices (desktops) */

}