.links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.header {
  padding-left: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #2563EB;
  font-weight: 700;
  line-height: 1.2;
}
a{
  color:#1E40AF ;
}
a:active {

  border-bottom: 3px #2563EB solid;

} 