

.socialLinks {
  background-color: firebrick;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 8rem;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

li {
  list-style-type: none;

}