.form {

  min-width: 27rem;
  max-width: 29rem;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  background-color: #E0E0E0;

  .form_heading {
    margin: 0.5rem 0;
    text-align: center;
  }

  .btn_send {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    display: flex;
    align-self: center;
    background-color: #3B82F6;

  }

  input,
  textarea {
    width: 100%;
    color: #D1D5DB;
    padding: 0.5rem;
  }
}