.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 1rem 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #2563EB;
  font-weight: 700;

}

a {
  color: #1E40AF;
}

a:active {

  border-bottom: 3px #2563EB solid;

}

.icon {
  font-size: 1rem;
  cursor: pointer;
}
